.container{
    margin-top: 80px;
    width: 90%;
}

nav>a {
  color: white
}

body{

  background-color: lemonchiffon;
}

.text-left{
    text-align: left !important;
}

img{
    width: 70%;
}

h4{
    font-weight: bold;
}
